* {
    font-family: 'NotoSans';
}

h1.el{
    font-weight: 100;
}

h1.l{
    font-weight: 200;;
}

h1.n{
    font-weight: 300;
}

h1.r{
    font-weight: 400;
}

h1.m{
    font-weight: 500;
}

h1.b{
    font-weight: 600;
}

h1.h{
    font-weight: 700;
}

img.logo{
    max-width: 100%;    
    height: auto;
}