/*@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/ExtraLight.ttf') format('ttf');
    font-weight: 100;
    font-style: el;
    font-display: swap; 
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/Light.ttf') format('ttf');
    font-weight: 200;
    font-style: l;
    font-display: swap; 
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/Normal.ttf') format('ttf');
    font-weight: 300;
    font-style: n;
    font-display: swap; 
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: r;
    font-display: swap; 
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: m;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SC';
    src: url('../fonts/NotoSans/Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: b;
    font-display: swap;
}
*/
@font-face {
    font-family: 'Noto Sans SC';
    src: url('../fonts/NotoSans/Heavy.ttf') format('ttf');
    font-weight: 700;
    font-style: h;
    font-display: swap;
}

* {
    font-family: 'NotoSans';
}

h1.el{
    font-weight: 100;
}

h1.l{
    font-weight: 200;;
}

h1.n{
    font-weight: 300;
}

h1.r{
    font-weight: 400;
}

h1.m{
    font-weight: 500;
}

h1.b{
    font-weight: 600;
}

h1.h{
    font-weight: 700;
}